#meeting_tracker_root{
  width: 80%;
  position: fixed;
  right: 0%;
  top:50px;
  font-family:Georgia, "Times New Roman", Times, serif;
}

.Header_Info{
  width: 100%;
  height: 50px;
  right: 0%;
  top:0%;
  border-bottom: darkblue solid 3px;
  box-sizing: border-box;
  color: black; 
  font-size: 25px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  color:DarkBlue;
}
.Header_Info>p{
  font-size: 20px;
  line-height: 50px;
  margin: 0 50px;
  user-select: none;
  color:darkgray;
}

.Header_Info>p:hover{
  color: darkblue;
  transition: 0.3s;
}

.Header_Info>div{
  font-size: 25px;
  width: 120px;
  text-align: center;
  line-height:50px;
}

.Header_Info>div:hover{
  background-color: darkblue;
  color: gold;
  transition: 0.3s;
  cursor:pointer;
}

#main{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
}
#title{
  margin-top:20px;
  height:60px;
  font-size: 40px;
  width: 90%;
  user-select: none;
}
#login{
  border-radius: 20px;
  border:darkblue solid 1px;
  box-shadow: 5px 5px 5px #888888;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#login>p{
  width: 90%;
  margin:20px 0;
}
#login>input{
  width: 80%;
  outline-style: none;
  border:1px solid darkgray;
  border-radius: 3px
}
#login>input:focus{
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
#login-error{
  margin-top: 10px;
  height: 25px;
  color: red;
}
#login-button{
  height: 50px;
  line-height: 50px;
  width: 150px;
  text-align: center;
  font-size: larger;
  border: darkblue solid 1px;
  border-radius: 3px;
}
#login-button:hover{
  background-color: darkblue;
  color: gold;
  cursor: pointer;
  transition: 0.3s;
}
#login-header{
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:30px;
}
#login-header>img{
  width: 150px;
}